@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?c25pki');
  src:  url('../fonts/icomoon.eot?c25pki#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?c25pki') format('truetype'),
    url('../fonts/icomoon.woff?c25pki') format('woff'),
    url('../fonts/icomoon.svg?c25pki#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-CEO:before {
  content: "\e900";
}
.icon-tupian:before {
  content: "\e901";
}
.icon-tequan:before {
  content: "\e902";
}
.icon-ziliao2:before {
  content: "\e903";
}
.icon-jiantoushang:before {
  content: "\e904";
}
.icon-faxian2:before {
  content: "\e905";
}
.icon-wugoumai:before {
  content: "\e906";
}
.icon-chengdan:before {
  content: "\e907";
}
.icon-shenhe:before {
  content: "\e908";
}
.icon-queren:before {
  content: "\e909";
}
.icon-genjin:before {
  content: "\e90a";
}
.icon-feiqi:before {
  content: "\e90b";
}
.icon-shuagnjiantou:before {
  content: "\e90c";
}
.icon-erweima:before {
  content: "\e90d";
}
.icon-fensi1:before {
  content: "\e90e";
}
.icon-toutiao:before {
  content: "\e90f";
}
.icon-guanbi:before {
  content: "\e910";
}
.icon-shuaxin:before {
  content: "\e911";
}
.icon-fanhui:before {
  content: "\e912";
}
.icon-shezhi:before {
  content: "\e913";
}
.icon-ziliao:before {
  content: "\e914";
}
.icon-zhuanqian:before {
  content: "\e915";
}
.icon-yue:before {
  content: "\e916";
}
.icon-wode1:before {
  content: "\e917";
}
.icon-shouye1:before {
  content: "\e918";
}
.icon-shouji:before {
  content: "\e919";
}
.icon-renwu1:before {
  content: "\e91a";
}
.icon-mima:before {
  content: "\e91b";
}
.icon-yijian:before {
  content: "\e91c";
}
.icon-lishi:before {
  content: "\e91d";
}
.icon-jilu:before {
  content: "\e91e";
}
.icon-duihuan:before {
  content: "\e91f";
}
.icon-xiaoxi:before {
  content: "\e920";
}
.icon-zuojiantou:before {
  content: "\e921";
}
.icon-xiajiantou:before {
  content: "\e922";
}
.icon-youjiantou:before {
  content: "\e923";
}
.icon-fensi2:before {
  content: "\e924";
}
.icon-jiantou2:before {
  content: "\e925";
}
.icon-daozhang:before {
  content: "\e926";
}
.icon-sanjiao:before {
  content: "\e927";
}
.icon-wenhao:before {
  content: "\e928";
}
.icon-faxian1:before {
  content: "\e929";
}
.icon-hehuo:before {
  content: "\e92a";
}
.icon-dengdai:before {
  content: "\e92b";
}
.icon-shenqing:before {
  content: "\e92c";
}
.icon-yinhangka1:before {
  content: "\e92d";
}
.icon-yinhangka:before {
  content: "\e92e";
}
.icon-weixintixian:before {
  content: "\e92f";
}
.icon-xiangji:before {
  content: "\e930";
}
.icon-hot:before {
  content: "\e931";
}
.icon-shouye2:before {
  content: "\e932";
}
.icon-tixian:before {
  content: "\e933";
}
.icon-shanchu:before {
  content: "\e934";
}
.icon-wode2:before {
  content: "\e935";
}
.icon-renwu2:before {
  content: "\e936";
}
.icon-tongzhi:before {
  content: "\e937";
}
.icon-shengji:before {
  content: "\e938";
}

